<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<rewrite>
  <rules>
<rule name="actions after index" patternSyntax="Wildcard">
    <match url="*" ignoreCase="false" />
    <conditions>
  		<add input="{REQUEST_FILENAME}" pattern="(.*?)\.html$" negate="true" />
  		<add input="{REQUEST_FILENAME}" pattern="(.*?)\.aspx$" negate="true" />
        <add input="{SCRIPT_FILENAME}" pattern=".css" negate="true" />
        <add input="{SCRIPT_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Rewrite" url="/public/index.php?url={R:1}" appendQueryString="false" />
</rule>

 </rules>
            <rewriteMaps>
                <rewriteMap name="/" />
            </rewriteMaps>
</rewrite>
        <handlers>
            <remove name="ZendPHPviaFastCGI" />
            <add name="PHP_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>